In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt 

%matplotlib inline

In [2]:
tv_shows=pd.read_csv('tv_shows.csv')
tv_shows.head(5)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,2008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,2016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,2013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,2015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,2017,16+,8.8/10,93/100,1,0,0,0,1

In [3]:
tv_shows.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5368 entries, 0 to 5367
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       5368 non-null   int64
 1   ID               5368 non-null   int64
 2   Title            5368 non-null   object
 3   Year             5368 non-null   int64
 4   Age              3241 non-null   object
 5   IMDb             4406 non-null   object
 6   Rotten Tomatoes  5368 non-null   object
 7   Netflix          5368 non-null   int64
 8   Hulu             5368 non-null   int64
 9   Prime Video      5368 non-null   int64
 10  Disney+          5368 non-null   int64
 11  Type             5368 non-null   int64
dtypes: int64(8), object(4)
memory usage: 503.4+ KB

In [6]:
tv_shows['Year']=pd.to_datetime(tv_shows['Year'])

In [10]:
tv_shows.head(30)

,Unnamed: 0,ID,Title,Year,Age,IMDb,Rotten Tomatoes,Netflix,Hulu,Prime Video,Disney+,Type
0,0,1,Breaking Bad,1970-01-01 00:00:00.000002008,18+,9.4/10,100/100,1,0,0,0,1
1,1,2,Stranger Things,1970-01-01 00:00:00.000002016,16+,8.7/10,96/100,1,0,0,0,1
2,2,3,Attack on Titan,1970-01-01 00:00:00.000002013,18+,9.0/10,95/100,1,1,0,0,1
3,3,4,Better Call Saul,1970-01-01 00:00:00.000002015,18+,8.8/10,94/100,1,0,0,0,1
4,4,5,Dark,1970-01-01 00:00:00.000002017,16+,8.8/10,93/100,1,0,0,0,1
5,5,6,Avatar: The Last Airbender,1970-01-01 00:00:00.000002005,7+,9.3/10,93/100,1,0,1,0,1
6,6,7,Peaky Blinders,1970-01-01 00:00:00.000002013,18+,8.8/10,93/100,1,0,0,0,1
7,7,8,The Walking Dead,1970-01-01 00:00:00.000002010,18+,8.2/10,93/100,1,0,0,0,1
8,8,9,Black Mirror,1970-01-01 00:00:00.000002011,18+,8.8/10,92/100,1,0,0,0,1
9,9,10,The Queen's Gambit,1970-01-01 00:00:00.000002020,18+,8.6/10,92/100,1,0,0,0,1
10,10,11,Mindhunter,1970-01-01 00:00:00.000002017,18+,8.6/10,90/100,1,0,0,0,1
11,11,12,Community,1970-01-01 00:00:00.000002009,7+,8.5/10,90/100,1,1,1,0,1
12,12,13,Narcos,1970-01-01 00:00:00.000002015,18+,8.8/10,90/100,1,0,0,0,1
13,13,14,Shameless,1970-01-01 00:00:00.000002011,18+,8.5/10,90/100,1,1,1,0,1
14,14,15,Money Heist,1970-01-01 00:00:00.000002017,18+,8.3/10,90/100,1,0,0,0,1
15,15,16,Marvel's Daredevil,1970-01-01 00:00:00.000002015,18+,8.6/10,90/100,1,0,0,0,1
16,16,17,Lucifer,1970-01-01 00:00:00.000002016,16+,8.1/10,90/100,1,0,0,0,1
17,17,18,Supernatural,1970-01-01 00:00:00.000002005,16+,8.4/10,89/100,1,0,0,0,1
18,18,19,The Witcher,1970-01-01 00:00:00.000002019,18+,8.2/10,89/100,1,0,0,0,1
19,19,20,Ozark,1970-01-01 00:00:00.000002017,18+,8.4/10,89/100,1,0,0,0,1
20,20,21,The Crown,1970-01-01 00:00:00.000002016,18+,8.6/10,89/100,1,0,0,0,1
21,21,22,Cobra Kai,1970-01-01 00:00:00.000002018,16+,8.6/10,89/100,1,0,0,0,1
22,22,23,The Blacklist,1970-01-01 00:00:00.000002013,16+,8.0/10,88/100,1,0,0,0,1
23,23,24,The Flash,1970-01-01 00:00:00.000002014,16+,7.6/10,88/100,1,0,0,0,1
24,24,25,Outlander,1970-01-01 00:00:00.000002014,18+,8.4/10,88/100,1,0,0,0,1
25,25,26,Fullmetal Alchemist: Brotherhood,1970-01-01 00:00:00.000002009,16+,9.1/10,88/100,1,1,0,0,1
26,26,27,The Good Place,1970-01-01 00:00:00.000002016,16+,8.2/10,88/100,1,0,0,0,1
27,27,28,House of Cards,1970-01-01 00:00:00.000002013,18+,8.7/10,88/100,1,0,0,0,1
28,28,29,Atypical,1970-01-01 00:00:00.000002017,16+,8.3/10,88/100,1,0,0,0,1
29,29,30,Grey's Anatomy,1970-01-01 00:00:00.000002005,16+,7.5/10,87/100,1,1,0,0,1

In [9]:
tv_shows.head(3).T

,0,1,2
Unnamed: 0,0,1,2
ID,1,2,3
Title,Breaking Bad,Stranger Things,Attack on Titan
Year,1970-01-01 00:00:00.000002008,1970-01-01 00:00:00.000002016,1970-01-01 00:00:00.000002013
Age,18+,16+,18+
IMDb,9.4/10,8.7/10,9.0/10
Rotten Tomatoes,100/100,96/100,95/100
Netflix,1,1,1
Hulu,0,0,1
Prime Video,0,0,0
Disney+,0,0,0
Type,1,1,1